<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hashrail.marketplace">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.hashrail.marketplace.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hashrail.marketplace.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".RecylcerViewList.ProductsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".volleyIntegration.VolleyActivity" />
        <activity android:name=".GridListView.GridProductsActivity" />
        <activity android:name=".ProfileMaking.UpdateProfile" />
        <activity android:name=".ProfileMaking.FullscreeProfileActivity" />
        <activity android:name=".ViewPager.ImageSlidingActivity" />
        <activity android:name=".Filter.FilterActivity" />
        <activity android:name=".Notification.NotifyActivity" />
        <activity android:name=".Notification.NotiViewActivity" />

        <receiver
            android:name=".Notification.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.miiapp" />
            </intent-filter>
        </receiver>

        <service android:name=".Notification.GCMNotificationIntentService" />
        <!--
        <receiver
            android:name="com.pushbots.google.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                &lt;!&ndash; Receives the actual messages. &ndash;&gt;
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                &lt;!&ndash; Receives the registration id. &ndash;&gt;
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.hashrail.marketplace" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Notification.customHandler" />
        &lt;!&ndash;<receiver android:name="com.pushbots.push.DefaultPushHandler" />&ndash;&gt;

        <service android:name="com.pushbots.push.GCMIntentService" />
        -->
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".RealmProject.RealmActivity"></activity>
    </application>

</manifest>